header,footer{
    height: 15%;
    width: inherit;
    background-color: black;
}
#banner{
    height: 25%;
    width: inherit;
}
#main{
    height: 60%;
    width: 100%;
}
p{
    font-size: 20px;
    margin: 15px;
    font-family: sans-serif;
    text-align: center;
    color: #333;
}
#banner div{
    width: 100%;
    height: auto;
}
#banner div img{
    width: inherit;
}
#logo{
  width: 200px;
  height: auto;
  margin: 0 auto;
}
#logo img{
  width: inherit;
  height: auto;
}
nav{
  width: 42.5%;
  height: auto;
  margin: auto;
}
nav a{
  font-size: 14px;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
}
h1{
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  color: #333;
  font-weight: 400;
}
#leftbutton{
  width: 20%;
  margin: 25px;
  background-color: #026e00;
}
#leftbutton h1{
  font-size: 24px;
  color: white;

}
#leftbutton p{
  font-size: 12px;
  color: white;
}
#rightbutton{
    width: 20;
    margin: 25px;
    background-color: #026e00;
}
